<%- include('../partials/header'); %>

<main class="main main-home container">
    <h2 class="home-header text-center">welcome to the health profession liberay</h2>
    <img src="/media/Health.jpeg" alt="healthimg" class="image-fluid">
</main>

<%- include('../partials/header'); %>