<%- include('../partials/header'); %>

<main class="main main-single container text-center">
    <h2 class="main-h2"><%= data.long_name %></h2>
    <section class="section section-single d-flex justify-content-between"></section>
</main>
<%- include('../partials/footer'); %>